[submodule "PhenixiOSSDK"]
	path = PhenixiOSSDK
url=git@github.com:sinbadflyce/PhenixiOSSDK.git
[submodule "PhenixAndroidSDK"]
	path = PhenixAndroidSDK
	url = /Users/thanhle/TMP/testgit/PhenixAndroidSDK
